#DSAI Reto Final (Amaury Félix Díaz)

Recuerden:

1.- Leer las instrucciones en canvas detenidamente

2.- Al finalizar compartir la libreta con el profesor: eduardo.cendejas@tec.mx

3.- Subir a canvas su liga para la libreta compartida, sirve como registro en canvas de la entrega y en caso de que el correo no llegue al profesor

4.- No cerrar o eliminar sus ejecuciones

Montar drive en caso de tener los datos ahí

In [3]:
# Se monta Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importar frameworks

In [4]:
# Importamos las plataformas
import pandas as pd
import numpy as np

**Recuperar la información del Archivo employee_attrition.csv**

In [7]:
# Recuperamos los datos del archivo csv y creamos un dataframe llamado "empleados"
empleados = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data Science and AI/Segunda sesión/Employee_Attrition.csv")
empleados

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [8]:
empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB

**El tiempo de servicio promedio de los trabajadores**

In [38]:
# Utilizamos la función mean para obtener el promedio de toda la columna "Time_of_service"
promedio_tiempo_servicio = empleados['Time_of_service'].mean()
print(f"El tiempo de servicio promedio de todos los empleados es de: {promedio_tiempo_servicio}")

El tiempo de servicio promedio de todos los empleados es de: 13.403663500678427

**El porcentaje de hombres y mujeres en el archivo**

In [40]:
# Agrupamos la columna "Gender" en datos de tipo Female y Male y dividimos la cuenta entre el número total de empleados y multiplicamos por 100
# para obtener el promedio
porcentaje_f_m = empleados['Gender'].groupby(empleados['Gender']).count() / empleados['Gender'].count() * 100
porcentaje_f_m

Gender
F    57.6
M    42.4
Name: Gender, dtype: float64

In [17]:
# Usando la función value_counts con el parámetro normalize como True y multiplicando por 100 llegamos a un resultado más corto
empleados['Gender'].value_counts(normalize = True) * 100

Gender
F    57.6
M    42.4
Name: proportion, dtype: float64

**El tiempo máximo sin promoción de las personas que llevan más de 15 años de servicio**

In [41]:
# Se selecciona a los empleados con más de 15 años de servicio y se obtiene el valor máximo usando la función max
maxtime_sincepromotion = empleados[empleados['Time_of_service'] > 15]['Time_since_promotion'].max()
print(f"El tiempo máximo sin promoción que llevan los empleados con más de 15 años de servicio es de: {maxtime_sincepromotion}")

El tiempo máximo sin promoción que llevan los empleados con más de 15 años de servicio es de: 4

**La edad promedio en la que ingresaron las personas a la empresa, genera una nueva columna derivada mediante la formula Age - Time_of_service**

In [23]:
empleados['Average_age'] = empleados['Age'] - empleados['Time_of_service']
empleados['Average_age']

0       25.0
1       24.0
2       31.0
3       39.0
4       32.0
        ...
2995    29.0
2996     NaN
2997    25.0
2998    28.0
2999    33.0
Name: Average_age, Length: 3000, dtype: float64

In [24]:
# La edad promedio de ingreso de los empleados
empleados['Average_age'].mean()

26.391896737181785

**Un dataframe con las columnas Employee_ID, Relationship, Decision_skill_process que sólo contenga los registros de mujeres, solteras y con compensación tipo 2 o 3**

In [42]:
# Se utiliza la función loc para obtener los registros de los empleados que son mujeres y que su status de relación sea single
# También se ocupa la funcion isin para encontrar su tipo de compensación
femsingletype23 = empleados[['Employee_ID', 'Relationship_Status', 'Decision_skill_possess']].loc[((empleados['Gender'] == "F")
& (empleados['Relationship_Status'] == "Single")
& (empleados['Compensation_and_Benefits'].isin(["type2", "type3"])))]
femsingletype23

     Employee_ID Relationship_Status Decision_skill_possess
0      EID_22713              Single             Conceptual
10     EID_13639              Single             Behavioral
12     EID_16537              Single              Directive
15      EID_1855              Single             Analytical
23     EID_11398              Single              Directive
...          ...                 ...                    ...
2979   EID_23052              Single             Analytical
2993   EID_10639              Single             Conceptual
2995   EID_22547              Single              Directive
2996   EID_10066              Single             Conceptual
2997    EID_7126              Single             Analytical

[578 rows x 3 columns]

**Una columna derivada con el valor "on time" si cuando tuvo su última promoción tenía menos de 30 años. En caso contrario colocar el valor de "out of time"**

In [36]:
# Se crea la columna derivada a través de una función lambda en donde si la diferencia de la edad menos el tiempo desde la promoción es menor a 30 se escribe "on time"
# en caso de ser mayor a 30 se escribe "out of time"
empleados['Less_than_30'] = (empleados['Age'] - empleados['Time_since_promotion']).apply(lambda x: "on time" if x < 30 else "out of time")
empleados['Less_than_30']

0           on time
1       out of time
2       out of time
3       out of time
4       out of time
           ...
2995        on time
2996    out of time
2997    out of time
2998    out of time
2999    out of time
Name: Less_than_30, Length: 3000, dtype: object

In [37]:
# Se usa la función where de numpy para llegar al mismo resultado anterior, ahorrando código
empleados['Less_than_30'] = np.where((empleados['Age'] - empleados['Time_since_promotion']) < 30, "on time", "out of time")
empleados['Less_than_30']

0           on time
1       out of time
2       out of time
3       out of time
4       out of time
           ...
2995        on time
2996    out of time
2997    out of time
2998    out of time
2999    out of time
Name: Less_than_30, Length: 3000, dtype: object

**Guardar los dataframes resultantes**

In [44]:
# Convertimos a archivos xlsx los dataframes que obtuvimos
pd.DataFrame([promedio_tiempo_servicio], columns=['promedio_tiempo_servicio']).to_excel("promedio_tiempo_servicio.xlsx", index = False)
pd.DataFrame(porcentaje_f_m).to_excel("porcentaje_f_m.xlsx")
pd.DataFrame([maxtime_sincepromotion], columns=['maxtime_sincepromotion']).to_excel("maxtime_sincepromotion.xlsx", index = False)
pd.DataFrame(empleados['Average_age']).to_excel("empleados_average_age.xlsx")
pd.DataFrame(femsingletype23).to_excel("femsingletype23.xlsx")
pd.DataFrame(empleados['Less_than_30']).to_excel("empleados_less_than_30.xlsx")
pd.DataFrame(empleados).to_excel("empleados.xlsx")